<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences -->
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\Data\MarkOrderActionResultInterface"
                type="Klevu\AnalyticsOrderSync\Model\MarkOrderActionResult"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\Data\RemoveSyncedOrderHistoryResultInterface"
                type="Klevu\AnalyticsOrderSync\Model\RemoveSyncedOrderHistoryResult"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\Data\RequeueStuckOrdersResultInterface"
                type="Klevu\AnalyticsOrderSync\Model\RequeueStuckOrdersResult"/>

    <preference for="Klevu\AnalyticsOrderSyncApi\Api\Data\SyncOrderInterface"
                type="Klevu\AnalyticsOrderSync\Model\SyncOrder"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\SyncOrderRepositoryInterface"
                type="Klevu\AnalyticsOrderSync\Model\SyncOrderRepository"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\Data\SyncOrderHistoryInterface"
                type="Klevu\AnalyticsOrderSync\Model\SyncOrderHistory"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\SyncOrderHistoryRepositoryInterface"
                type="Klevu\AnalyticsOrderSync\Model\SyncOrderHistoryRepository"/>

    <preference for="Klevu\AnalyticsOrderSyncApi\Api\MarkOrderAsProcessedActionInterface"
                type="Klevu\AnalyticsOrderSync\Service\Action\MarkOrderAsProcessed"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\MarkOrderAsProcessingActionInterface"
                type="Klevu\AnalyticsOrderSync\Service\Action\MarkOrderAsProcessing"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\RemoveSyncedOrderHistoryServiceInterface"
                type="Klevu\AnalyticsOrderSync\Service\RemoveSyncedOrderHistory"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\RequeueStuckOrdersServiceInterface"
                type="Klevu\AnalyticsOrderSync\Service\RequeueStuckOrders"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Api\QueueOrderForSyncActionInterface"
                type="Klevu\AnalyticsOrderSync\Service\Action\QueueOrderForSync"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Action\ProcessFailedOrderSyncActionInterface"
                type="Klevu\AnalyticsOrderSync\Service\Action\ProcessFailedOrderSync"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Action\ConsolidateCronConfigSettingsActionInterface"
                type="Klevu\AnalyticsOrderSync\Service\Action\ConsolidateCronConfigSettings"/>

    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Provider\ConsolidatedGroupedProductOrderItemProviderInterface"
                type="Klevu\AnalyticsOrderSync\Service\Provider\ConsolidatedGroupedProductOrderItemProvider"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Provider\PermittedOrderStatusProviderInterface"
                type="Klevu\AnalyticsOrderSync\Service\Provider\PermittedOrderStatusProvider"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Provider\SyncOrderForOrderProviderInterface"
                type="Klevu\AnalyticsOrderSync\Service\Provider\SyncOrderForOrderProvider"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Provider\MagentoOrderIdsProviderInterface"
                type="Klevu\AnalyticsOrderSync\Service\Provider\MagentoOrderIdsProvider"/>
    <preference for="Klevu\AnalyticsOrderSyncApi\Service\Provider\SyncEnabledStoresProviderInterface"
                type="Klevu\AnalyticsOrderSync\Service\Provider\SyncEnabledStoresProvider"/>

    <!-- Analytics DI -->
    <type name="Klevu\AnalyticsOrderSync\Console\Command\QueueOrdersForSyncCommand">
        <arguments>
            <argument name="orderIdsForConsoleSearchCriteriaProvider" xsi:type="object">Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider\Order</argument>
        </arguments>
    </type>
    <type name="Klevu\AnalyticsOrderSync\Console\Command\SyncOrdersCommand">
        <arguments>
            <argument name="syncOrderIdsForConsoleSearchCriteriaProvider" xsi:type="object">Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider\SyncOrder</argument>
            <argument name="syncOrdersServiceForRetry" xsi:type="object">Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents\Retry</argument>
            <argument name="syncOrdersServiceForQueued" xsi:type="object">Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents\Queued</argument>
            <argument name="processEventsResultStatusOptionSource" xsi:type="object">Klevu\Analytics\Model\Source\Options\ProcessEventsResultStatus</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Cron\SyncOrders">
        <arguments>
            <argument name="orderSyncSearchCriteriaProvider" xsi:type="object">Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider\SyncOrder</argument>
            <argument name="processEventsService" xsi:type="object">Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents</argument>
        </arguments>
    </type>
    <type name="Klevu\AnalyticsOrderSync\Cron\RequeueStuckOrders">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Klevu\AnalyticsOrderSync\Cron\RemoveSyncedOrderHistory">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Model\SyncOrderRepository">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Klevu\AnalyticsOrderSync\Model\SyncOrderHistoryRepository">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Observer\Sales\Order\QueueOrderForSync">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Plugin\Sales\OrderRepository\SetOrderSyncExtensionAttributesPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Pipeline\OrderAnalytics\Stage\MarkOrderAsProcessing">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Service\Action\ConsolidateCronConfigSettings">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
            <argument name="cronFrequencySource" xsi:type="object">Klevu\AnalyticsOrderSync\Model\Source\Options\CronFrequency</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncEventsDataProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
            <argument name="yieldOrderValidators" xsi:type="array">
                <item name="integration_status" xsi:type="object">Klevu\AnalyticsOrderSync\Validator\OrderSyncEventsData\KlevuIntegrationStatusValidator</item>
                <item name="sync_status" xsi:type="object">Klevu\AnalyticsOrderSync\Validator\OrderSyncEventsData\KlevuOrderSyncStatusValidator</item>
                <item name="order_status" xsi:type="object">Klevu\AnalyticsOrderSync\Validator\OrderSyncEventsData\MagentoOrderStatusValidator</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Service\Provider\SyncEnabledStoresProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents"
                 type="Klevu\Analytics\Service\ProcessEvents">
        <arguments>
            <argument name="pipelineBuilder" xsi:type="object">Klevu\Pipelines\Pipeline\PipelineBuilderInterface\Proxy</argument>
            <argument name="eventsDataProvider" xsi:type="object">Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncEventsDataProvider</argument>
            <argument name="pipelineContextProviders" xsi:type="array">
                <item name="config" xsi:type="object">Klevu\AnalyticsOrderSync\Service\Provider\PipelineContext\ConfigProvider</item>
            </argument>
            <argument name="pipelineConfigurationFilepath" xsi:type="string">Klevu_AnalyticsOrderSync::etc/pipeline/sync_orders.yml</argument>
        </arguments>
    </virtualType>
    <virtualType name="Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents\Queued"
                 type="Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents">

    </virtualType>
    <virtualType name="Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents\Retry"
                 type="Klevu\AnalyticsOrderSync\Service\ProcessOrderEvents">

    </virtualType>

    <type name="Klevu\AnalyticsOrderSync\Service\Provider\ConsolidatedGroupedProductOrderItemProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <virtualType name="Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider\Order"
                 type="Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider">
        <arguments>
            <argument name="orderIdFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\ResourceModel\Order\Collection::FIELD_ORDER_ID</argument>
            <argument name="orderStatusFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\ResourceModel\Order\Collection::FIELD_ORDER_STATUS</argument>
            <argument name="syncStatusFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\ResourceModel\Order\Collection::FIELD_SYNC_STATUS</argument>
            <argument name="storeIdFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\ResourceModel\Order\Collection::FIELD_STORE_ID</argument>
        </arguments>
    </virtualType>
    <virtualType name="Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider\SyncOrder"
                 type="Klevu\AnalyticsOrderSync\Service\Provider\OrderSyncSearchCriteriaProvider">
        <arguments>
            <argument name="orderIdFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\SyncOrder::FIELD_ORDER_ID</argument>
            <argument name="orderStatusFieldName" xsi:type="string">order_status</argument>
            <argument name="syncStatusFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\SyncOrder::FIELD_STATUS</argument>
            <argument name="storeIdFieldName" xsi:type="const">Klevu\AnalyticsOrderSync\Model\SyncOrder::FIELD_STORE_ID</argument>
        </arguments>
    </virtualType>

    <type name="Klevu\AnalyticsOrderSync\Setup\Patch\Data\MigrateLegacyOrderSyncRecords">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Analytics\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\Ui\Component\Listing\Column\SyncStatus">
        <arguments>
            <argument name="syncOrderStatusOptions" xsi:type="object">Klevu\AnalyticsOrderSync\Model\Source\Options\SyncOrder\Status</argument>
        </arguments>
    </type>

    <type name="Klevu\AnalyticsOrderSync\ViewModel\Config\Integration\StatusMessages">
        <arguments>
            <argument name="cronFrequencyOptions" xsi:type="object">Klevu\AnalyticsOrderSync\Model\Source\Options\CronFrequency</argument>
        </arguments>
    </type>
    <type name="Klevu\AnalyticsOrderSync\ViewModel\SyncOrder">
        <arguments>
            <argument name="statusOptions" xsi:type="object">Klevu\AnalyticsOrderSync\Model\Source\Options\SyncOrder\Status</argument>
        </arguments>
    </type>
    <type name="Klevu\AnalyticsOrderSync\ViewModel\SyncOrderHistory">
        <arguments>
            <argument name="actionOptions" xsi:type="object">Klevu\AnalyticsOrderSync\Model\Source\Options\SyncOrderHistory\Action</argument>
            <argument name="resultOptions" xsi:type="object">Klevu\AnalyticsOrderSync\Model\Source\Options\SyncOrderHistory\Result</argument>
        </arguments>
    </type>

    <type name="Klevu\PlatformPipelines\ObjectManager\PipelineFqcnProvider">
        <arguments>
            <argument name="namespaces" xsi:type="array">
                <item name="\Klevu\AnalyticsOrderSync\Pipeline\" xsi:type="const">Klevu\Pipelines\ObjectManager\ObjectManagerInterface::PRIORITY_NAMESPACE_SORT_ORDER</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\PlatformPipelines\ObjectManager\TransformerManager">
        <arguments>
            <argument name="namespaces" xsi:type="array">
                <item name="\Klevu\AnalyticsOrderSync\Transformer" xsi:type="const">Klevu\Pipelines\ObjectManager\ObjectManagerInterface::PRIORITY_NAMESPACE_SORT_ORDER</item>
            </argument>
        </arguments>
    </type>

    <!-- Magento Objects -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="klevu_set_order_sync_status" type="Klevu\AnalyticsOrderSync\Plugin\Sales\OrderRepository\SetOrderSyncExtensionAttributesPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="klevu_join_order_sync_status" type="Klevu\AnalyticsOrderSync\Plugin\Sales\OrderGridCollection\JoinOrderSyncStatusPlugin"/>
    </type>

    <!-- Console -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="klevu_analytics_queue_order_for_sync" xsi:type="object">Klevu\AnalyticsOrderSync\Console\Command\QueueOrdersForSyncCommand\Proxy</item>
                <item name="klevu_analytics_sync_orders" xsi:type="object">Klevu\AnalyticsOrderSync\Console\Command\SyncOrdersCommand\Proxy</item>
            </argument>
        </arguments>
    </type>
</config>
