<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="sales_model_service_quote_submit_success">
        <observer name="klevu_analyticsOrderSync_queueOrderForSync"
                  instance="Klevu\AnalyticsOrderSync\Observer\Sales\Order\QueueOrderForSync" />
    </event>

</config>
